* {margin:0; padding:0;}
img {border:none;}
a.activeLink {
    z-index: 2;
    color: #ffffff;
    background-color: #428bca;
    border-color: #428bca;
}

a.activeLink:hover {
    color: #ffffff;
    text-decoration:none;
}


.ajax-loading {
    font-family: Helvetica,Arial,sans-serif;
    display: block;
    padding: 15px;
    margin-left: -115px;
    width: 200px;
    opacity: .88;
    box-shadow: 0 1px 1px -1px #fff;
    height: auto;
    margin-top: -43px;
    z-index: 9999999;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 0;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: .6em;
    border-radius: .6em;
    background: #222;
    color: #fff;
    text-shadow: 0 1px 0 #111;
    font-weight: 400;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#444),to(#222));
    background-image: -webkit-linear-gradient(#444,#222);
    background-image: linear-gradient(#444,#222);
}

.ajax-loading h1 {
    display: block;
    font-size: 16px;
    margin: 0;
    text-align: center;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}



#menuId {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/menubtn.png);
}
#header {
    z-index: 1;
    border-bottom-width: 0px;
    color: white;
    text-shadow: 0 -1px 1px black;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
}

.ui-header-custom {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1164B6), to(#20A3E1)) !important; /*chrome老式写法*/
    background-image: -webkit-gradient(top, rgba(17,99,180,1) 0%, rgba(21,108,195,1) 49%, rgba(24,116,207,1) 50%, rgba(33,172,229,1) 100%) !important;  
    background-image: -webkit-linear-gradient(top, rgba(17,99,180,1) 0%, rgba(21,108,195,1) 49%, rgba(24,116,207,1) 50%, rgba(33,172,229,1) 100%) !important; /*chrome新式写法*/
    background-image: linear-gradient(rgba(17,99,180,1) 0%, rgba(21,108,195,1) 49%, rgba(24,116,207,1) 50%, rgba(33,172,229,1) 100%) !important;
}


.ui-header {
    display: block;
    /* overflow: hidden; */
    width: 100%;
    border-left-width: 0;
    border-right-width: 0;
}

 .ui-corner-top{
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}


.ui-bar-c {
    border: 1px solid #B3B3B3;
    background: #E9EAEB;
    font-weight: bold;
}


.ui-btn-left {
    position: absolute;
    left: 10px;
    top: .3em;
}

.ui-btn-right {
    position: absolute;
    right: 10px;
    top: .4em;
}


.ui-btn-iphone {
    border: 1px solid transparent;
}

.ui-btn-limit {
    max-width: 5em;
}

.ui-btn {
    color: white;
    text-shadow: 0 -1px 1px black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:bold;
    display: inline-block;
    font-size: .8125em;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}


.ui-btn-apple-al {
    padding: 0px 0em 0px 1.2em;
    background-image: url('../images/app-btn-l.png');
    background-repeat: no-repeat;
    -webkit-background-size: 1.2em 100%;
    background-size: 1.2em 100%;
}

.ui-btn-apple-nl {
    padding: 0px 0em 0px 0.4em;
    background-image: url('../images/app-rbt-l.png');
    background-repeat: no-repeat;
    -webkit-background-size: 0.4em 100%;
    background-size: 0.4em 100%;
}


.ui-btn-apple-ar {
    padding: 0px 0.5em 0px 0em;
    background-image: url('../images/app-btn-r.png');
    background-repeat: no-repeat;
    -webkit-background-size: 0.5em 100%;
    background-size: 0.5em 100%;
    background-position: right;
}

.ui-btn-apple-nr {
    padding: 0px 0.4em 0px 0em;
    background-image: url('../images/app-rbt-r.png');
    background-repeat: no-repeat;
    -webkit-background-size: 0.4em 100%;
    background-size: 0.4em 100%;
    background-position: right;
}


.ui-btn-apple-ac {
    background-image: url('../images/app-btn-c.png');
    background-repeat: repeat;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
}

.ui-btn-apple-nc {
    background-image: url('../images/app-rbt-c.png');
    background-repeat: repeat;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
}


.ui-btn-inner {
    padding-top: 0.6em !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
}

.ui-btn-inner {
    padding: .4em 0.5em .5em;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    zoom: 1;
}



.ui-title {
    font-family: Helvetica, Arial, sans-serif;
    font-weight:bold;
    min-height: 1.1em;
    text-align: center;
    font-size: 1em;
    display: block;
    margin: .6em 5em .8em;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: 0 !important;
}

.ui-zhao {
    position: absolute;
    width: 1.7em;
    height: 1.7em;
}


.ui-zhao-hov {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ui-menu-pos {
    position: absolute;
    top: 0.5em;
    right: 0.7em;
    height: 1.7em;
    width: 1.7em;
    z-index: 100;
}

.ui-hide {
    display: none;
}

.ui-menu-btn {
    position: absolute;
    left: 0em;
    bottom: 0em;
    width: 100%;
    height: 100%;
}

input[type=checkbox]:checked+div>div.ui-menu-item-anim_2 {
    background-size: cover;
    background-image: url(../images/2.png);
    -webkit-transform: translate(-1.5em,8em) rotate(2880deg) scale(1,1);
    opacity: 1;
    -webkit-transition: all 0.16s ease-in-out;
    -webkit-animation-name: anim_menu_btn_active_2;
}
input[type=checkbox]+div>div.ui-menu-item-anim_2 {
    background-size: cover;
    background-image: url(../images/2.png);
    -webkit-transform: translate(0,0em) rotate(0deg) scale(0.1,0.1);
    opacity: 0;
    -webkit-transition: all 0.28s ease-in-out;
    -webkit-animation-name: anim_menu_btn_inactive_2;
}
-webkit-keyframes name:anim_menu_btn_inactive_2 {
    0% {
		-webkit-transform:translate(3.44em,8.31em) rotate(2880deg) scale(1,1);
		
	}
	
	100% {
		-webkit-transform:translate(0,0em) rotate(0deg) scale(0.1,0.1);
		
	}
}

@-webkit-keyframes anim_menu_btn_active_2 {
	0% {
		-webkit-transform:translate(0,0em) rotate(0deg) scale(0.1,0.1);
		
	}
	
	100% { 
		-webkit-transform:translate(3.44em,8.31em) rotate(2880deg) scale(1,1);
		
	}
}

input[type=checkbox]:checked+div>div.ui-menu-item-anim_3 {
    background-size: cover;
    background-image: url(../images/3.png);
    -webkit-transform: translate(-5.5em,6.5em) rotate(2880deg) scale(1,1);
    opacity: 1;
    -webkit-transition: all 0.22s ease-in-out;
    -webkit-animation-name: anim_menu_btn_active_3;
}
input[type=checkbox]+div>div.ui-menu-item-anim_3 {
    background-size: cover;
    background-image: url(../images/3.png);
    -webkit-transform: translate(0,0em) rotate(0deg) scale(0.1,0.1);
    opacity: 0;
    -webkit-transition: all 0.22s ease-in-out;
    -webkit-animation-name: anim_menu_btn_inactive_3;
}
@-webkit-keyframes name:anim_menu_btn_inactive_3 {
	0% {
		-webkit-transform:translate(6.36em,6.36em) rotate(2880deg) scale(1,1);
		
	}
	
	100% { 
		-webkit-transform:translate(0,0em) rotate(0deg) scale(0.1,0.1);
		
	}
}

@-webkit-keyframes anim_menu_btn_active_3 {
	0% {
		-webkit-transform:translate(0,0em) rotate(0deg) scale(0.1,0.1);
		
	}
	
	100% { 
		-webkit-transform:translate(6.36em,6.36em) rotate(2880deg) scale(1,1);
		
	}
}


input[type="checkbox"]:checked + div > div.ui-menu-item-anim_4 {
    background-size: cover;
    background-image: url(../images/4.png);
    -webkit-transform: translate(-8em,3.5em) rotate(2880deg) scale(1,1);
    opacity: 1;
    -webkit-transition: all 0.28s ease-in-out;
    -webkit-animation-name: anim_menu_btn_active_4;
}
input[type="checkbox"] + div > div.ui-menu-item-anim_4 {
    background-size: cover;
    background-image: url(../images/4.png);
    -webkit-transform: translate(0,0em) rotate(0deg) scale(0.1,0.1);
    opacity: 0;
    -webkit-transition: all 0.16s ease-in-out;
    -webkit-animation-name: anim_menu_btn_inactive_4;
}

@-webkit-keyframes name:anim_menu_btn_inactive_4 {
	0% {
		-webkit-transform:translate(8.31em,3.44em) rotate(2880deg) scale(1,1);
		
	}
	
	100% { 
		-webkit-transform:translate(0,0em) rotate(0deg) scale(0.1,0.1);
		
	}
}

@-webkit-keyframes anim_menu_btn_active_4 {
	0% {
		-webkit-transform:translate(0,0em) rotate(0deg) scale(0.1,0.1);
		
	}
	
	100% { 
		-webkit-transform:translate(8.31em,3.44em) rotate(2880deg) scale(1,1);
		
	}
}



input[type=checkbox]:checked+div>div.ui-menu-item-anim_5 {
    background-size: cover;
    background-image: url(../images/5.png);
    -webkit-transform: translate(-9.5em,0em) rotate(2880deg) scale(1,1);
    opacity: 1;
    -webkit-transition: all 0.34s ease-in-out;
    -webkit-animation-name: anim_menu_btn_active_5;
}
input[type=checkbox]+div>div.ui-menu-item-anim_5 {
    background-size: cover;
    background-image: url(../images/5.png);
    -webkit-transform: translate(0,0em) rotate(0deg) scale(0.1,0.1);
    opacity: 0;
    -webkit-transition: all 0.1s ease-in-out;
    -webkit-animation-name: anim_menu_btn_inactive_5;
}

@-webkit-keyframes name:anim_menu_btn_inactive_5 {
	0% {
		-webkit-transform:translate(9em,0em) rotate(2880deg) scale(1,1);
		
	}
    100% {
		-webkit-transform:translate(0,0em) rotate(0deg) scale(0.1,0.1);
		
	}
}

@-webkit-keyframes anim_menu_btn_active_5 {
	0% {
		-webkit-transform:translate(0,0em) rotate(0deg) scale(0.1,0.1);
		
	}
	
	100% { 
		-webkit-transform:translate(9em,0em) rotate(2880deg) scale(1,1);
		
	}
}



.ui-menu-item-btn {
    position: absolute;
    left: 0em;
    top: 0em;
    width: 2.7em;
    height: 2.7em;
    background-repeat: no-repeat;
    background-position: center;
}




input[type=checkbox]+div>div.ui-menu-btn-bg {
    -webkit-transform: translate(0,0em) rotate(0deg);
    -webkit-transition: all 0.3s ease-in-out;
    -webkit-animation-name: anim_menu_btn_inactive;
}

input[type=checkbox]:checked+div>div.ui-menu-btn-bg {
    -webkit-transform: translate(0,0em) rotate(405deg);
    -webkit-transition:all 0.3s ease-in-out;
    -webkit-animation-name: anim_menu_btn_active;
}

@-webkit-keyframes anim_menu_btn_active{
	0% {
		-webkit-transform:translate(0,0em) rotate(490deg);
	}
	
	100% { 
		-webkit-transform:translate(0,0em) rotate(0deg);
	}
}

@-webkit-keyframes anim_menu_btn_inactive{
	0% {
		-webkit-transform:translate(0,0em) rotate(0deg);
	}
	
	100% { 
		-webkit-transform:translate(0,0em) rotate(490deg);
	}
}

    

