<link rel="stylesheet" href="css/webfont/my-fonts/stylesheet.css"/>

        <style>

        </style>
<div ng-controller="goodsCtrl" class="content">

    <div class="panel-group" id="goodsAccordion">

        <div class="looper panel panel-default"
             data-toggle="collapse" data-parent="#goodsAccordion"
             data-target="#collapse{{product.id}}"
             data-ng-repeat="product in products">
            <div class="panel-heading" >
                <h3 class="panel-title">
                    <a class="accordion-toggle {{product.icon_class}}">
                        {{product.name}}
                    </a>
                </h3>
            </div>
            <div id="collapse{{product.id}}" class="panel-collapse collapse">
                <div class="panel-body">

                        <a class="list-group-item" data-ng-repeat="p in product.sub" nav-to="/goodslist/{{p.id}}">
                            {{p.name}}
                            <i class="pull-right fui-arrow-right"></i>
                        </a>
                </div>
            </div>
        </div>


    </div>



</div>
<script type="text/javascript">
    $('#goodsAccordion').on('show.bs.collapse',".panel-collapse", function(e){
        $(this).parent(".looper").find(".panel-heading").addClass("blueBack tx-white");
    }).on('hide.bs.collapse',".panel-collapse", function (e) {
        $(this).parent(".looper").find(".panel-heading").removeClass("blueBack tx-white");
    })
</script>

